# Minority Rule data preparation
Joining Census Bureau demographic data with election data for future mapping.

In [253]:
import pandas as pd

## Counties
### County Demographics
Source: [2020 Census redistricting data](https://www.census.gov/programs-surveys/decennial-census/about/rdo/summary-files.html)

In [254]:
abbr_df = pd.read_csv('abbr.tsv', delimiter='\t', usecols=['State', 'Code'], index_col='Code')
abbr_lookup = abbr_df.to_dict()['State']
abbr_lookup

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'DC': 'District of Columbia',
 'FL': 'Florida',
 'GA': 'Georgia',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [255]:
# FIPS codes and county names to add FIPS code to demog data later on
# https://www.nrcs.usda.gov/wps/portal/nrcs/detail/national/home/?cid=nrcs143_013697

fips_df = pd.read_csv('county_fips.csv', dtype={'FIPS': str})
fips_df['state_name'] = fips_df['State'].map(abbr_lookup)
fips_df['full_name'] = fips_df['Name'] + ', ' + fips_df['state_name']
fips_df = fips_df.set_index('full_name')
# fips_df.to_csv('county_fips.csv')
fips_df

                   FIPS        Name State state_name
full_name
Autauga, Alabama  01001     Autauga    AL    Alabama
Baldwin, Alabama  01003     Baldwin    AL    Alabama
Barbour, Alabama  01005     Barbour    AL    Alabama
Bibb, Alabama     01007        Bibb    AL    Alabama
Blount, Alabama   01009      Blount    AL    Alabama
...                 ...         ...   ...        ...
NaN               72151     Yabucoa    PR        NaN
NaN               72153       Yauco    PR        NaN
NaN               78010   St. Croix    VI        NaN
NaN               78020    St. John    VI        NaN
NaN               78030  St. Thomas    VI        NaN

[3232 rows x 4 columns]

In [256]:
# census 2020 redistricting data
county_demog_df = pd.read_csv(
    'county-demog.csv',
                              index_col='Label (Grouping)',
    skip_blank_lines=True,
    thousands=','
).transpose()
county_demog_df.index.name = 'county'
# remove county and parish to standardize across states
county_demog_df.index = county_demog_df.index.map(lambda x: x.replace(' County,',',').replace(' Parish,',','))
# combine demographic data with FIPS codes
county_demog_df = county_demog_df.join(fips_df).set_index('FIPS')
county_demog_df

,Total:,Population of one race:,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population of two or more races:,Population of two races:,...,White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race,White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of six races:,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Name,State,state_name
FIPS,,,,,,,,,,,,,,,,,,,,,
45001,24295,23408,16877,6205,44,73,11,198,887,847,...,0,0,0,0,0,0,0,Abbeville,SC,South Carolina
22001,57576,55603,44480,9989,152,163,2,817,1973,1846,...,0,0,0,0,0,0,0,Acadia,LA,Louisiana
51001,33413,31655,20261,8670,297,255,4,2168,1758,1658,...,5,1,0,0,0,0,0,Accomack,VA,Virginia
16001,494967,453110,410263,8058,3274,13929,1318,16268,41857,39497,...,10,0,0,0,1,13,13,Ada,ID,Idaho
19001,7496,7262,7149,46,19,23,2,23,234,219,...,0,0,0,0,0,0,0,Adair,IA,Iowa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
04027,203881,152053,90318,4099,3522,2587,283,51244,51828,50722,...,18,0,2,0,0,1,1,Yuma,AZ,Arizona
08125,9988,8937,7437,22,73,34,6,1365,1051,1018,...,0,0,0,0,0,0,0,Yuma,CO,Colorado
48505,13889,7570,5421,18,67,16,0,2048,6319,6278,...,1,0,1,0,0,0,0,Zapata,TX,Texas
48507,9670,6344,4598,89,74,19,1,1563,3326,3306,...,0,0,1,0,0,0,0,Zavala,TX,Texas
46137,2413,2340,407,0,1925,3,3,2,73,69,...,0,0,0,1,0,0,0,Ziebach,SD,South Dakota

### County 2020 Presidential Election Results
Source: [County Presidential Election Returns 2000-2020](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/VOQCHQ)

Dataset:
```
MIT Election Data and Science Lab, 2018, "County Presidential Election Returns 2000-2020",
 https://doi.org/10.7910/DVN/VOQCHQ, Harvard Dataverse, V10,
 UNF:6:pVAMya52q7VM1Pl7EZMW0Q== [fileUNF]
```

File:
```
MIT Election Data and Science Lab, 2018, "County Presidential Election Returns 2000-2020",
 https://doi.org/10.7910/DVN/VOQCHQ, Harvard Dataverse, V10;
 countypres_2000-2020.tab [fileName], UNF:6:pVAMya52q7VM1Pl7EZMW0Q== [fileUNF]
```

In [257]:
county_pres_df = pd.read_csv(
    'countypres_2000-2020.tab',
    index_col=['county_fips'],
    delimiter='\t',
    dtype={'county_fips': str, 'version': str }
)

# limit to major parties for now
county_pres_df = county_pres_df[
    (county_pres_df['year'] == 2020) &
    (county_pres_df['party'].isin(('DEMOCRAT', 'REPUBLICAN')))
    ]

total_series = county_pres_df['totalvotes'].groupby(county_pres_df.index).max()

county_pres_df = county_pres_df.pivot_table(
    index=county_pres_df.index,
    columns='party',
    values='candidatevotes'
)
county_pres_df['TOTAL'] = total_series

county_pres_df['dem_percent'] = 100 * county_pres_df['DEMOCRAT'] / county_pres_df['TOTAL']
county_pres_df['rep_percent'] = 100 * county_pres_df['REPUBLICAN'] / county_pres_df['TOTAL']
county_pres_df['dem_lead'] = 100 * county_pres_df['DEMOCRAT'] - county_pres_df['REPUBLICAN']
county_pres_df['dem_percent_lead'] = county_pres_df['dem_percent'] - county_pres_df['rep_percent']

county_pres_df.to_csv('county_results.csv')
county_pres_df

party,DEMOCRAT,REPUBLICAN,TOTAL,dem_percent,rep_percent,dem_lead,dem_percent_lead
county_fips,,,,,,,
01001,7503.0,19838.0,27770,27.018365,71.436802,730462.0,-44.418437
01003,24578.0,83544.0,109679,22.409030,76.171373,2374256.0,-53.762343
01005,4816.0,5622.0,10518,45.788173,53.451226,475978.0,-7.663054
01007,1986.0,7525.0,9595,20.698280,78.426264,191075.0,-57.727983
01009,2640.0,24711.0,27588,9.569378,89.571553,239289.0,-80.002175
...,...,...,...,...,...,...,...
56037,3823.0,12229.0,16698,22.894957,73.236316,370071.0,-50.341358
56039,9848.0,4341.0,14787,66.599040,29.356868,980459.0,37.242172
56041,1591.0,7496.0,9459,16.819960,79.247278,151604.0,-62.427318
56043,651.0,3245.0,4032,16.145833,80.481151,61855.0,-64.335317
56045,360.0,3107.0,3560,10.112360,87.275281,32893.0,-77.162921

### Combine to one table

In [258]:
county_full_df = county_demog_df.join(county_pres_df)
county_full_df.index.name = 'FIPS'
county_full_df.to_csv('county-combined.csv')
county_full_df

,Total:,Population of one race:,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population of two or more races:,Population of two races:,...,Name,State,state_name,DEMOCRAT,REPUBLICAN,TOTAL,dem_percent,rep_percent,dem_lead,dem_percent_lead
FIPS,,,,,,,,,,,,,,,,,,,,,
01001,58805,55648,42160,11445,217,881,35,910,3157,2979,...,Autauga,AL,Alabama,7503.0,19838.0,27770.0,27.018365,71.436802,730462.0,-44.418437
01003,231767,216743,189399,18217,1582,2067,143,5335,15024,14386,...,Baldwin,AL,Alabama,24578.0,83544.0,109679.0,22.409030,76.171373,2374256.0,-53.762343
01005,25223,24523,11317,11933,116,117,1,1039,700,662,...,Barbour,AL,Alabama,4816.0,5622.0,10518.0,45.788173,53.451226,475978.0,-7.663054
01007,22293,21534,16555,4413,60,32,9,465,759,700,...,Bibb,AL,Alabama,1986.0,7525.0,9595.0,20.698280,78.426264,191075.0,-57.727983
01009,59134,55478,50663,845,337,178,24,3431,3656,3524,...,Blount,AL,Alabama,2640.0,24711.0,27588.0,9.569378,89.571553,239289.0,-80.002175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,2127,1789,1352,0,380,25,2,30,338,281,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,30426,19720,5028,2941,199,8,7,11537,10706,9840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,662,544,249,4,255,32,1,3,118,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,34172,18958,7312,1617,209,25,2,9793,15214,14201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,5343,5008,1130,7,3832,8,3,28,335,306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## States
### State Demographics
Source: [2020 Census redistricting data](https://www.census.gov/programs-surveys/decennial-census/about/rdo/summary-files.html)

In [259]:
state_demog_df = pd.read_csv(
    'state-demog.csv',
    index_col='Label (Grouping)',
    skip_blank_lines=True,
    thousands=','
).transpose()
state_demog_df.index.name = 'state'
state_demog_df.index = state_demog_df.index.str.upper()
state_demog_df

Label (Grouping),Total:,Population of one race:,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population of two or more races:,Population of two races:,...,American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of five races:,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander,White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race,White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race,White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of six races:,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
state,,,,,,,,,,,,,,,,,,,,,
ALABAMA,5024279,4767326,3220452,1296162,33625,76660,2984,137443,256953,243473,...,4,187,89,78,13,0,5,2,9,9
ALASKA,733391,643867,435392,21898,111575,44032,12698,18272,89524,81221,...,11,97,44,29,4,4,14,2,13,13
ARIZONA,7151502,6154696,4322337,339150,319512,257430,16397,899870,996806,948897,...,18,440,174,215,12,7,28,4,70,70
ARKANSAS,3011524,2797949,2114512,453783,27177,51839,14533,136105,213575,203299,...,0,118,60,38,2,15,2,1,12,12
CALIFORNIA,39538223,33777988,16296122,2237044,631016,6085947,157263,8370596,5760235,5380042,...,109,4107,1345,2002,236,208,284,32,450,450
COLORADO,5773714,5066044,4082927,234828,74129,199827,10287,464046,707670,665645,...,10,423,195,152,30,10,31,5,48,48
CONNECTICUT,3605944,3273040,2395128,388675,16051,172455,1598,299133,332904,313228,...,1,185,76,87,8,2,11,1,25,25
DELAWARE,989948,913430,597763,218899,5148,42699,412,48509,76518,71461,...,4,42,11,19,0,12,0,0,5,5
DISTRICT OF COLUMBIA,689545,633468,273194,285810,3193,33545,432,37294,56077,51147,...,0,51,20,18,0,4,4,5,4,4
FLORIDA,21538187,17986115,12422961,3246381,94795,643682,14014,1564282,3552072,3428042,...,23,1263,353,719,90,40,25,36,132,132
GEORGIA,10711908,9968000,5555483,3320513,50618,479028,7299,555059,743908,698142,...,2,551,193,270,22,11,22,33,65,65
HAWAII,1455271,1087142,333261,23417,4370,541902,157445,26747,368129,231504,...,14,1733,998,138,25,139,406,27,76,76
IDAHO,1839106,1685901,1510360,15726,25621,26836,3726,103632,153205,145443,...,9,82,38,18,12,6,5,3,39,39
ILLINOIS,12812508,11667524,7868227,1808271,96498,754878,4501,1135149,1144984,1087260,...,16,670,301,301,35,14,4,15,84,84
INDIANA,6785528,6348802,5241795,648513,26086,167959,3137,261312,436726,414856,...,13,262,149,80,16,7,2,8,28,28
IOWA,3190369,3011086,2694521,131972,14486,75629,5758,88720,179283,170730,...,6,111,60,29,3,6,2,11,16,16
KANSAS,2937880,2657373,2222462,168809,30995,86273,3412,145422,280507,265719,...,10,103,52,34,6,4,2,5,31,31
KENTUCKY,4505836,4260996,3711254,362417,12801,74426,3681,96417,244840,232500,...,0,143,57,50,10,14,7,5,26,26
LOUISIANA,4657757,4384380,2657652,1464023,31657,86438,1911,142699,273377,255214,...,5,214,82,95,3,11,15,8,33,33
MAINE,1362359,1297649,1237041,25752,7885,16798,443,9730,64710,61608,...,1,63,34,7,2,3,10,7,0,0
MARYLAND,6177224,5695323,3007874,1820472,31845,420944,3247,410941,481901,444556,...,4,439,181,200,23,25,1,9,58,58
MASSACHUSETTS,7029917,6421050,4896037,494029,24018,507934,2301,496731,608867,571923,...,4,326,136,152,23,10,5,0,30,30
MICHIGAN,10077331,9442016,7444974,1376579,61261,334300,3051,221851,635315,599811,...,4,338,156,128,18,18,10,8,57,57
MINNESOTA,5706494,5360773,4423146,398434,68641,299190,2918,168444,345721,324275,...,0,244,91,116,13,15,4,5,31,31
MISSISSIPPI,2961279,2850547,1658893,1084481,16450,32709,1154,56860,110732,103917,...,2,119,47,38,17,8,0,9,25,25
MISSOURI,6154913,5741742,4740335,699840,30518,133377,9730,127942,413171,390923,...,8,281,135,113,6,15,9,3,25,25
MONTANA,1084225,1012950,916524,5484,67612,8300,941,14089,71275,67557,...,5,40,13,17,3,0,4,3,12,12
NEBRASKA,1961504,1817341,1538052,96535,23102,52951,1534,105167,144163,136456,...,4,84,34,23,6,8,4,9,20,20
NEVADA,3104614,2670605,1588463,304739,43932,272703,25011,435757,434009,400557,...,0,400,184,127,7,48,31,3,43,43
NEW HAMPSHIRE,1377529,1299787,1216203,20127,3031,35871,453,24102,77742,73876,...,1,59,26,11,14,0,3,5,4,4
NEW JERSEY,9288994,8385500,5112280,1219770,51186,950090,3533,1048641,903494,852673,...,19,546,157,310,22,17,29,11,67,67
NEW MEXICO,2117522,1695276,1078937,45904,212241,37469,2093,318632,422246,405338,...,16,152,32,84,16,4,13,3,28,28
NEW YORK,20201249,18433786,11143349,2986172,149690,1933127,10815,2210633,1767463,1649229,...,93,1623,555,873,99,26,25,45,189,189
NORTH CAROLINA,10439388,9727667,6488459,2140217,130032,343051,8518,617390,711721,664545,...,25,540,280,198,25,22,10,5,72,72
NORTH DAKOTA,779094,737154,645938,26783,38914,13213,924,11382,41940,39726,...,7,49,14,10,6,16,3,0,5,5
OHIO,11799448,11118076,9080688,1478781,30720,298509,5034,224344,681372,638388,...,11,461,219,153,29,37,3,20,61,61
OKLAHOMA,3959353,3451195,2514885,289961,332791,90949,8608,214001,508158,476591,...,1,167,107,42,5,6,1,6,21,21
OREGON,4237256,3793917,3169096,82655,62993,194538,19204,265431,443339,412968,...,0,385,191,116,13,30,35,0,52,52
PENNSYLVANIA,13002700,12228216,9750687,1423169,31052,510501,4276,508531,774484,726012,...,5,435,195,195,22,15,4,4,93,93
RHODE ISLAND,1097379,995585,782920,62168,7385,38961,536,103615,101794,93292,...,0,69,13,36,8,2,10,0,12,12
SOUTH CAROLINA,5118425,4820049,3243442,1280531,24303,90466,3431,177876,298376,280801,...,7,292,125,113,15,19,14,6,56,56
SOUTH DAKOTA,886667,840002,715336,17842,77748,13476,543,15057,46665,44190,...,5,44,15,7,4,4,11,3,1,1
TENNESSEE,6910840,6497942,4990938,1092948,28044,135615,4115,246282,412898,391747,...,8,250,107,108,12,14,5,4,20,20
TEXAS,29145505,24011767,14609365,3552997,278948,1585480,33611,3951366,5133738,4966139,...,34,1661,517,841,111,69,89,34,168,168
UTAH,3271616,2992603,2573413,40058,41644,80438,36930,220120,279013,261893,...,10,174,54,63,17,4,31,5,8,8
VERMONT,643077,606051,577751,9034,2289,11549,181,5247,37026,35154,...,0,41,19,13,0,1,6,2,6,6
VIRGINIA,8631393,7925686,5208856,1607581,40007,615436,7156,446650,705707,654932,...,9,680,248,372,25,11,14,10,38,38
WASHINGTON,7705281,6868622,5130920,307565,121468,730596,64933,513140,836659,770116,...,14,710,346,209,39,55,48,13,106,106
WEST VIRGINIA,1793716,1708772,1610749,65813,3706,15109,476,12919,84944,80877,...,1,47,21,25,0,0,0,1,15,15
WISCONSIN,5893718,5534184,4737545,376256,60428,175702,2199,182054,359534,341196,...,0,151,72,55,8,5,4,7,13,13
WYOMING,576851,533378,488374,5232,13898,5212,579,20083,43473,41250,...,0,33,11,14,2,0,4,2,3,3
PUERTO RICO,3285874,1650083,560592,228711,17870,4001,593,838316,1635791,1539017,...,11,362,42,234,64,3,12,7,34,34

## State 2020 Presidential Election Results
Source: [U.S. President 1976â€“2020](https://dataverse.harvard.edu/file.xhtml?fileId=4299753&version=6.0)

Dataset
```
 MIT Election Data and Science Lab, 2017, "U.S. President 1976â€“2020",
  https://doi.org/10.7910/DVN/42MVDX, Harvard Dataverse, V6,
  UNF:6:4KoNz9KgTkXy0ZBxJ9ZkOw== [fileUNF]
```

File
```
 MIT Election Data and Science Lab, 2017, "U.S. President 1976â€“2020",
  https://doi.org/10.7910/DVN/42MVDX, Harvard Dataverse, V6;
  1976-2020-president.tab [fileName], UNF:6:4KoNz9KgTkXy0ZBxJ9ZkOw== [fileUNF]
```

In [260]:
state_elect_df = pd.read_csv('1976-2020-president.tab', delimiter='\t', index_col='state')
state_elect_df = state_elect_df[
    (state_elect_df['year'] == 2020) & (state_elect_df['party_simplified'].isin(['DEMOCRAT', 'REPUBLICAN']))]

total_series = state_elect_df['totalvotes'].groupby(state_elect_df.index).max()

state_elect_df = state_elect_df.pivot_table(index=state_elect_df.index, columns='party_simplified', values='candidatevotes')
state_elect_df['TOTAL'] = total_series
state_elect_df['dem_percent'] = 100 * state_elect_df['DEMOCRAT'] / state_elect_df['TOTAL']
state_elect_df['rep_percent'] = 100 * state_elect_df['REPUBLICAN'] / state_elect_df['TOTAL']
state_elect_df['dem_lead'] = 100 * state_elect_df['DEMOCRAT'] - state_elect_df['REPUBLICAN']
state_elect_df['dem_percent_lead'] = state_elect_df['dem_percent'] - state_elect_df['rep_percent']
state_elect_df.to_csv('state_results.csv')
state_elect_df

party_simplified,DEMOCRAT,REPUBLICAN,TOTAL,dem_percent,rep_percent,dem_lead,dem_percent_lead
state,,,,,,,
ALABAMA,849624,1441170,2323282,36.569990,62.031643,83521230,-25.461653
ALASKA,153778,189951,359530,42.771952,52.833143,15187849,-10.061191
ARIZONA,1672143,1661686,3387326,49.364691,49.055981,165552614,0.308710
ARKANSAS,423932,760647,1219069,34.775062,62.395730,41632553,-27.620668
CALIFORNIA,11110250,6006429,17500881,63.483947,34.320724,1105018571,29.163223
COLORADO,1804352,1364607,3279980,55.011067,41.604126,179070593,13.406942
CONNECTICUT,1080831,714717,1823857,59.260732,39.187118,107368383,20.073613
DELAWARE,296268,200603,504346,58.743006,39.774877,29426197,18.968129
DISTRICT OF COLUMBIA,317323,18586,344356,92.149694,5.397321,31713714,86.752373
FLORIDA,5297045,5668731,11067456,47.861451,51.219820,524035769,-3.358369
GEORGIA,2473633,2461854,4999960,49.473056,49.237474,244901446,0.235582
HAWAII,366130,196864,579784,63.149380,33.954714,36416136,29.194666
IDAHO,287021,554119,868014,33.066402,63.837565,28147981,-30.771163
ILLINOIS,3471915,2446891,6033743,57.541645,40.553451,344744609,16.988195
INDIANA,1242416,1729519,3033118,40.961677,57.021158,122512081,-16.059481
IOWA,759061,897672,1700130,44.647233,52.800198,75008428,-8.152965
KANSAS,570323,771406,1372303,41.559554,56.212513,56260894,-14.652959
KENTUCKY,772474,1326646,2136768,36.151515,62.086572,75920754,-25.935057
LOUISIANA,856034,1255776,2148062,39.851457,58.460882,84347624,-18.609426
MAINE,435072,360737,828305,52.525579,43.551228,43146463,8.974351
MARYLAND,1985023,976414,3037030,65.360665,32.150292,197525886,33.210373
MASSACHUSETTS,2382202,1167202,3658005,65.122984,31.908158,237052998,33.214826
MICHIGAN,2804040,2649852,5539302,50.620818,47.837291,277754148,2.783528
MINNESOTA,1717077,1484065,3277171,52.395099,45.284942,170223635,7.110157
MISSISSIPPI,539398,756764,1313759,41.057606,57.602955,53183036,-16.545348
MISSOURI,1253014,1718736,3025962,41.408782,56.799656,123582664,-15.390874
MONTANA,244786,343602,603674,40.549369,56.918469,24134998,-16.369100
NEBRASKA,374583,556846,956383,39.166631,58.224163,36901454,-19.057532
NEVADA,703486,669890,1405376,50.056782,47.666247,69678710,2.390535
NEW HAMPSHIRE,424921,365654,806182,52.707825,45.356260,42126446,7.351566
NEW JERSEY,2608335,1883274,4549353,57.334197,41.396524,258950226,15.937673
NEW MEXICO,501614,401894,923965,54.289286,43.496669,49759506,10.792617
NEW YORK,5230985,3244798,8661735,60.391885,37.461294,519853702,22.930591
NORTH CAROLINA,2684292,2758773,5524802,48.586212,49.934332,265670427,-1.348121
NORTH DAKOTA,114902,235595,361819,31.756762,65.114049,11254605,-33.357286
OHIO,2679165,3154834,5922202,45.239338,53.271300,264761666,-8.031962
OKLAHOMA,503890,1020280,1560699,32.286174,65.373272,49368720,-33.087098
OREGON,1340383,958448,2374321,56.453319,40.367246,133079852,16.086073
PENNSYLVANIA,3458229,3377674,6915283,50.008496,48.843612,342445226,1.164884
RHODE ISLAND,307486,199922,516990,59.476199,38.670380,30548678,20.805818
SOUTH CAROLINA,1091541,1385103,2514096,43.416838,55.093481,107768997,-11.676642
SOUTH DAKOTA,150471,261043,422609,35.605252,61.769390,14786057,-26.164138
TENNESSEE,1143711,1852475,3053851,37.451434,60.660294,112518625,-23.208860
TEXAS,5259126,5890347,11315056,46.479010,52.057604,520022253,-5.578594
UTAH,560282,865140,1488289,37.646049,58.129839,55163060,-20.483790
VERMONT,242820,112704,370968,65.455781,30.381057,24169296,35.074723
VIRGINIA,2413568,1962430,4460524,54.109517,43.995504,239394370,10.114014
WASHINGTON,2369612,1584651,4087631,57.970301,38.766978,235376549,19.203323
WEST VIRGINIA,235984,545382,794652,29.696521,68.631552,23053018,-38.935031
WISCONSIN,1630866,1610184,3298041,49.449537,48.822437,161476416,0.627100
WYOMING,73491,193559,278503,26.387867,69.499790,7155541,-43.111923

### Combine to one table

In [261]:
state_full_df = state_demog_df.join(state_elect_df)
state_full_df.index.name = 'state'
state_full_df.to_csv('state-combined.csv')
state_full_df

,Total:,Population of one race:,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some Other Race alone,Population of two or more races:,Population of two races:,...,Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,Population of six races:,White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race,DEMOCRAT,REPUBLICAN,TOTAL,dem_percent,rep_percent,dem_lead,dem_percent_lead
state,,,,,,,,,,,,,,,,,,,,,
ALABAMA,5024279,4767326,3220452,1296162,33625,76660,2984,137443,256953,243473,...,2,9,9,849624.0,1441170.0,2323282.0,36.569990,62.031643,8.352123e+07,-25.461653
ALASKA,733391,643867,435392,21898,111575,44032,12698,18272,89524,81221,...,2,13,13,153778.0,189951.0,359530.0,42.771952,52.833143,1.518785e+07,-10.061191
ARIZONA,7151502,6154696,4322337,339150,319512,257430,16397,899870,996806,948897,...,4,70,70,1672143.0,1661686.0,3387326.0,49.364691,49.055981,1.655526e+08,0.308710
ARKANSAS,3011524,2797949,2114512,453783,27177,51839,14533,136105,213575,203299,...,1,12,12,423932.0,760647.0,1219069.0,34.775062,62.395730,4.163255e+07,-27.620668
CALIFORNIA,39538223,33777988,16296122,2237044,631016,6085947,157263,8370596,5760235,5380042,...,32,450,450,11110250.0,6006429.0,17500881.0,63.483947,34.320724,1.105019e+09,29.163223
COLORADO,5773714,5066044,4082927,234828,74129,199827,10287,464046,707670,665645,...,5,48,48,1804352.0,1364607.0,3279980.0,55.011067,41.604126,1.790706e+08,13.406942
CONNECTICUT,3605944,3273040,2395128,388675,16051,172455,1598,299133,332904,313228,...,1,25,25,1080831.0,714717.0,1823857.0,59.260732,39.187118,1.073684e+08,20.073613
DELAWARE,989948,913430,597763,218899,5148,42699,412,48509,76518,71461,...,0,5,5,296268.0,200603.0,504346.0,58.743006,39.774877,2.942620e+07,18.968129
DISTRICT OF COLUMBIA,689545,633468,273194,285810,3193,33545,432,37294,56077,51147,...,5,4,4,317323.0,18586.0,344356.0,92.149694,5.397321,3.171371e+07,86.752373
FLORIDA,21538187,17986115,12422961,3246381,94795,643682,14014,1564282,3552072,3428042,...,36,132,132,5297045.0,5668731.0,11067456.0,47.861451,51.219820,5.240358e+08,-3.358369
GEORGIA,10711908,9968000,5555483,3320513,50618,479028,7299,555059,743908,698142,...,33,65,65,2473633.0,2461854.0,4999960.0,49.473056,49.237474,2.449014e+08,0.235582
HAWAII,1455271,1087142,333261,23417,4370,541902,157445,26747,368129,231504,...,27,76,76,366130.0,196864.0,579784.0,63.149380,33.954714,3.641614e+07,29.194666
IDAHO,1839106,1685901,1510360,15726,25621,26836,3726,103632,153205,145443,...,3,39,39,287021.0,554119.0,868014.0,33.066402,63.837565,2.814798e+07,-30.771163
ILLINOIS,12812508,11667524,7868227,1808271,96498,754878,4501,1135149,1144984,1087260,...,15,84,84,3471915.0,2446891.0,6033743.0,57.541645,40.553451,3.447446e+08,16.988195
INDIANA,6785528,6348802,5241795,648513,26086,167959,3137,261312,436726,414856,...,8,28,28,1242416.0,1729519.0,3033118.0,40.961677,57.021158,1.225121e+08,-16.059481
IOWA,3190369,3011086,2694521,131972,14486,75629,5758,88720,179283,170730,...,11,16,16,759061.0,897672.0,1700130.0,44.647233,52.800198,7.500843e+07,-8.152965
KANSAS,2937880,2657373,2222462,168809,30995,86273,3412,145422,280507,265719,...,5,31,31,570323.0,771406.0,1372303.0,41.559554,56.212513,5.626089e+07,-14.652959
KENTUCKY,4505836,4260996,3711254,362417,12801,74426,3681,96417,244840,232500,...,5,26,26,772474.0,1326646.0,2136768.0,36.151515,62.086572,7.592075e+07,-25.935057
LOUISIANA,4657757,4384380,2657652,1464023,31657,86438,1911,142699,273377,255214,...,8,33,33,856034.0,1255776.0,2148062.0,39.851457,58.460882,8.434762e+07,-18.609426
MAINE,1362359,1297649,1237041,25752,7885,16798,443,9730,64710,61608,...,7,0,0,435072.0,360737.0,828305.0,52.525579,43.551228,4.314646e+07,8.974351
MARYLAND,6177224,5695323,3007874,1820472,31845,420944,3247,410941,481901,444556,...,9,58,58,1985023.0,976414.0,3037030.0,65.360665,32.150292,1.975259e+08,33.210373
MASSACHUSETTS,7029917,6421050,4896037,494029,24018,507934,2301,496731,608867,571923,...,0,30,30,2382202.0,1167202.0,3658005.0,65.122984,31.908158,2.370530e+08,33.214826
MICHIGAN,10077331,9442016,7444974,1376579,61261,334300,3051,221851,635315,599811,...,8,57,57,2804040.0,2649852.0,5539302.0,50.620818,47.837291,2.777541e+08,2.783528
MINNESOTA,5706494,5360773,4423146,398434,68641,299190,2918,168444,345721,324275,...,5,31,31,1717077.0,1484065.0,3277171.0,52.395099,45.284942,1.702236e+08,7.110157
MISSISSIPPI,2961279,2850547,1658893,1084481,16450,32709,1154,56860,110732,103917,...,9,25,25,539398.0,756764.0,1313759.0,41.057606,57.602955,5.318304e+07,-16.545348
MISSOURI,6154913,5741742,4740335,699840,30518,133377,9730,127942,413171,390923,...,3,25,25,1253014.0,1718736.0,3025962.0,41.408782,56.799656,1.235827e+08,-15.390874
MONTANA,1084225,1012950,916524,5484,67612,8300,941,14089,71275,67557,...,3,12,12,244786.0,343602.0,603674.0,40.549369,56.918469,2.413500e+07,-16.369100
NEBRASKA,1961504,1817341,1538052,96535,23102,52951,1534,105167,144163,136456,...,9,20,20,374583.0,556846.0,956383.0,39.166631,58.224163,3.690145e+07,-19.057532
NEVADA,3104614,2670605,1588463,304739,43932,272703,25011,435757,434009,400557,...,3,43,43,703486.0,669890.0,1405376.0,50.056782,47.666247,6.967871e+07,2.390535
NEW HAMPSHIRE,1377529,1299787,1216203,20127,3031,35871,453,24102,77742,73876,...,5,4,4,424921.0,365654.0,806182.0,52.707825,45.356260,4.212645e+07,7.351566
NEW JERSEY,9288994,8385500,5112280,1219770,51186,950090,3533,1048641,903494,852673,...,11,67,67,2608335.0,1883274.0,4549353.0,57.334197,41.396524,2.589502e+08,15.937673
NEW MEXICO,2117522,1695276,1078937,45904,212241,37469,2093,318632,422246,405338,...,3,28,28,501614.0,401894.0,923965.0,54.289286,43.496669,4.975951e+07,10.792617
NEW YORK,20201249,18433786,11143349,2986172,149690,1933127,10815,2210633,1767463,1649229,...,45,189,189,5230985.0,3244798.0,8661735.0,60.391885,37.461294,5.198537e+08,22.930591
NORTH CAROLINA,10439388,9727667,6488459,2140217,130032,343051,8518,617390,711721,664545,...,5,72,72,2684292.0,2758773.0,5524802.0,48.586212,49.934332,2.656704e+08,-1.348121
NORTH DAKOTA,779094,737154,645938,26783,38914,13213,924,11382,41940,39726,...,0,5,5,114902.0,235595.0,361819.0,31.756762,65.114049,1.125460e+07,-33.357286
OHIO,11799448,11118076,9080688,1478781,30720,298509,5034,224344,681372,638388,...,20,61,61,2679165.0,3154834.0,5922202.0,45.239338,53.271300,2.647617e+08,-8.031962
OKLAHOMA,3959353,3451195,2514885,289961,332791,90949,8608,214001,508158,476591,...,6,21,21,503890.0,1020280.0,1560699.0,32.286174,65.373272,4.936872e+07,-33.087098
OREGON,4237256,3793917,3169096,82655,62993,194538,19204,265431,443339,412968,...,0,52,52,1340383.0,958448.0,2374321.0,56.453319,40.367246,1.330799e+08,16.086073
PENNSYLVANIA,13002700,12228216,9750687,1423169,31052,510501,4276,508531,774484,726012,...,4,93,93,3458229.0,3377674.0,6915283.0,50.008496,48.843612,3.424452e+08,1.164884
RHODE ISLAND,1097379,995585,782920,62168,7385,38961,536,103615,101794,93292,...,0,12,12,307486.0,199922.0,516990.0,59.476199,38.670380,3.054868e+07,20.805818
SOUTH CAROLINA,5118425,4820049,3243442,1280531,24303,90466,3431,177876,298376,280801,...,6,56,56,1091541.0,1385103.0,2514096.0,43.416838,55.093481,1.077690e+08,-11.676642
SOUTH DAKOTA,886667,840002,715336,17842,77748,13476,543,15057,46665,44190,...,3,1,1,150471.0,261043.0,422609.0,35.605252,61.769390,1.478606e+07,-26.164138
TENNESSEE,6910840,6497942,4990938,1092948,28044,135615,4115,246282,412898,391747,...,4,20,20,1143711.0,1852475.0,3053851.0,37.451434,60.660294,1.125186e+08,-23.208860
TEXAS,29145505,24011767,14609365,3552997,278948,1585480,33611,3951366,5133738,4966139,...,34,168,168,5259126.0,5890347.0,11315056.0,46.479010,52.057604,5.200223e+08,-5.578594
UTAH,3271616,2992603,2573413,40058,41644,80438,36930,220120,279013,261893,...,5,8,8,560282.0,865140.0,1488289.0,37.646049,58.129839,5.516306e+07,-20.483790
VERMONT,643077,606051,577751,9034,2289,11549,181,5247,37026,35154,...,2,6,6,242820.0,112704.0,370968.0,65.455781,30.381057,2.416930e+07,35.074723
VIRGINIA,8631393,7925686,5208856,1607581,40007,615436,7156,446650,705707,654932,...,10,38,38,2413568.0,1962430.0,4460524.0,54.109517,43.995504,2.393944e+08,10.114014
WASHINGTON,7705281,6868622,5130920,307565,121468,730596,64933,513140,836659,770116,...,13,106,106,2369612.0,1584651.0,4087631.0,57.970301,38.766978,2.353765e+08,19.203323
WEST VIRGINIA,1793716,1708772,1610749,65813,3706,15109,476,12919,84944,80877,...,1,15,15,235984.0,545382.0,794652.0,29.696521,68.631552,2.305302e+07,-38.935031
WISCONSIN,5893718,5534184,4737545,376256,60428,175702,2199,182054,359534,341196,...,7,13,13,1630866.0,1610184.0,3298041.0,49.449537,48.822437,1.614764e+08,0.627100
WYOMING,576851,533378,488374,5232,13898,5212,579,20083,43473,41250,...,2,3,3,73491.0,193559.0,278503.0,26.387867,69.499790,7.155541e+06,-43.111923
PUERTO RICO,3285874,1650083,560592,228711,17870,4001,593,838316,1635791,1539017,...,7,34,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN